<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118853751681-9n6vnhuqkgur7jjsepa1bvq3hmrc30mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118853751681-9n6vnhuqkgur7jjsepa1bvq3hmrc30mp</string>
	<key>API_KEY</key>
	<string>AIzaSyDD81VUAED0XHvEX354PEkNe9TlW92qiHE</string>
	<key>GCM_SENDER_ID</key>
	<string>118853751681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akay.walkingApp</string>
	<key>PROJECT_ID</key>
	<string>akayst-3d156</string>
	<key>STORAGE_BUCKET</key>
	<string>akayst-3d156.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118853751681:ios:96884177c522c3f6d54e80</string>
	<key>DATABASE_URL</key>
	<string>https://akayst-3d156.firebaseio.com</string>
</dict>
</plist>